.css-1l396ac-MuiButtonBase-root-MuiButton-root:hover {
    background-color:#0471f3 !important ;
    border :none !important ;
}


.css-e1skaf-MuiButtonBase-root-MuiButton-root:hover {
    background-color:#fc3e3b !important ;
}
.css-nwdjm8-MuiStack-root>:not(style)+:not(style) {
    margin:5px  10px 5px 10px  !important ;
    
    
}